<h2 class="page-header"><%= document.title %></h2>
<img width="100" height="150" src="<%= document.coverImagePath %>">
<div>Author: <%= document.author.name %></div>
<div>Publish Date: <%= document.publishDate.toDateString() %></div>
<div>Page Count: <%= document.pageCount %></div>
<div>Description <%= document.description %></div>

<a href="/documents/<%= document.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url:`/documents/${document.id}`}) %>
<a href="/authors/<%= document.author.id %>">View Author</a>